<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${accountName}">User's Suggestions</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Percent Match</th>
                <th>Average Score</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="suggestion: ${animeSuggestion}">
                <td>
                    <a th:href="@{https://myanimelist.net/anime/${suggestion.anime.id}/}" th:text="${suggestion.anime.name}">Link to MAL page</a>
                </td>
                <td th:text="${suggestion.percent}"/>
                <td th:text="${suggestion.score}"/>
            </tr>
        </tbody>
    </table>
</body>
</html>